doctype html

html
	head
		title Slow Reader
		link(rel="stylesheet",type="text/css",href="stylesheet.css")
		script(src="script.js")
	body(class="CenterContainer")
		div(class="ContainerPage CenterContent",id="EntryContainer",style="")
			h1 Slow Reader
			p Description
			textarea(id="text")
			h1
				button(onclick="start_display()") Start
		div(class="ContainerPage CenterContent",id="WordDisplay",style="display:none;")
			div(id="word") Word
			div(class="ButtonGroup")
				button(id="back",onclick="prev_word()") <
				button(onclick="show_editor()") back/reset/edit
				button(id="fwd",onclick="next_word()") >

