:root {
	--botton-primary:   white;
	--button-secondary: hsl(206, 100%, 36%);
	--button-border:    hsl(206, 100%, 30%);
	--button-disabled-primary:   hsl(0, 0%, 80%);
	--button-disabled-secondary: hsl(0, 0%, 50%);
	--button-disabled-border:    hsl(0, 0%, 40%);
}

body {
	height: 100vh;
	text-align: center;
}

button {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
	color: var(--botton-primary);
	background-color: #0069BD;
	background-color: var(--button-secondary);
	
	border: 0;
	border-radius: 8px;
	
	transition: box-shadow .2s, background-color .2s, color .2s;
	transition-timing-function: linear;
}

button:hover:enabled {
	color: #0069BD;
	color: var(--button-secondary);
	background-color: white;
	background-color: var(--button-primary);
	
	box-shadow: 0px 3px 10px gray;
}

button:disabled {
	color: lightgray;
	color: var(--button-disabled-primary);
	background-color: gray;
	background-color: var(--button-disabled-secondary);
}

textarea {
	width: 100%;
	height: 10em;
}

.ButtonArea {
	margin: 2em;
}

.ButtonGroup > button {
	border: 0 solid #000;
	border-color: var(--button-border);
	border-radius: 0;
	border-width: 0 1px 0 1px;
}

.ButtonGroup > button:disabled {
	border-color: var(--button-disabled-border);
}

.ButtonGroup > button:first-child {
	border-radius: 8px 0 0 8px;
	border-width: 0 1px 0 0;
}

.ButtonGroup > button:last-child {
	border-radius: 0 8px 8px 0;
	border-width: 0 0 0 1px;
}

.CenterContainer {
	display: table;
	
	margin: auto;
	max-width: 40em;
	width: 98%;
}

.CenterContent {
	display: table-cell;
	vertical-align: middle;
}

#word {
	font-family: sans-serif;
	font-size: 4em;
	margin: .5em;
}

#hint {
	color: gray;
	font-family: sans-serif;
	font-size: 4em;
}

